<% 
  css = [] 
  js = []  
%>
<%- include('./component/header') %>
<%- include('./component/navbar') %>
    <div class="container">
      <div style="margin-top: 1.5rem">
        <p class="d-md-block mb-0"><i class="far fa-folder-open" aria-hidden="true"></i> <b class="current">&nbsp;</b></p> <!-- 현재 디렉토리 -->
        <hr>
      </div>
      <div>
        <ul class="fa-ul"></ul>
      </div>      
    </div>
<%- include('./component/footer') %>
