<%- include('./component/header') %>
<%- include('./component/navbar') %>
    <div class="container">
      <div style="margin-top: 1.5rem">
        <p class="d-md-block mb-0"><i class="fa fa-sign-in" aria-hidden="true"></i> <b>&nbsp;Login</b></p>
        <hr>
      </div>
      <div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Auth</button>
          </div>
        </div>
      </div>
  </div>
<%- include('./component/footer') %>
