    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/axios.min.js"></script>

    <% js.forEach(x => { %>
    <script src="/js/<%= x %>"></script>
    <% }) %>
  </body>
</html>
